body {
    background-color:smokewhite;
    text-align:center;
}

h1,h3{
    font-family: 'Comfortaa', cursive;
    color: #034;
}

p, li{
    font-family: 'Nunito', sans-serif;
    line-height: 200%;
    color: #333;
}

div {
    display: inline-block;
    width: 70%; /* 40% when 2 divs next to each other*/
    margin: 20px;
    border: 4px double #034;
    border-radius: 10px;
}

button {
    font-family: 'Pompiere', cursive;
    margin: 10px;
    height: auto;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
}

footer {
    position: absolute;
    bottom: 0px;
    text-align:center;
}

ul.no_bullet {
    list-style-type: none;
    padding: 0;
    margin: 0;
    }

    li.book {
    background: url('books.png') no-repeat left top;
    height: 54px;
    padding-left: 44px;
    padding-top: 3px;
    }