body {
    background-color:smokewhite;
    text-align:center;
}

h1,h3{
    font-family: 'Comfortaa', cursive;
    color: #034;
}

p{
    font-family: 'Nunito', sans-serif;
    color: #333;
}

div {
    display: inline-block;
    width: 40%;
    margin: 20px;
    border: 4px double #034;
    border-radius: 10px;
}

button {
    font-family: 'Pompiere', cursive;
    margin: 10px;
    height: auto;
    font-size: 20px;
    border-radius: 10px;
}
