body {
    background-color:smokewhite;
    text-align:center;
}

div {
    display: inline-block;
    width: 40%;
    margin: 20px;
    border: 4px double #034;
    border-radius: 10px;
}

button {
    margin: 20px;
}
